.listFields {
  display: flex;
  flex-direction: column;
  gap: var(--space-light-md);
}

@media #{$media-lg-above} {
  .listFields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
