.linkButton {
  padding: var(--space-light-xs) var(--space-light-md);
  border-radius: 4px;
  background-color: var(--color-primary-base);
  color: var(--color-neutral-weak-max);
}

@media #{$media-md-above} {
  .linkButton:hover {
    border: 1px solid var(--color-primary-base);
    background-color: var(--color-primary-weak-30);
    color: var(--color-text-base);
  }
}
