@import url('src/styles/fontDeclaration/quicksand.scss');
@import url('src/styles/fontDeclaration/iconfont.scss');
@import url('src/styles/generic/reset.scss');

* {
  scrollbar-color: var(--color-neutral-weak-10) var(--color-neutral-weak-max);
  scrollbar-width: thin;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  color: var(--color-text-base);
  -webkit-font-smoothing: antialiased;
}

::placeholder {
  color: var(--color-neutral-base);
}
