.listStatsView {
  display: flex;
  align-items: center;

  &_inlineAmount,
  &_highlightedAmount {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semiBold);
  }

  &_inlineAmount {
    margin-right: var(--space-light-md);
  }

  &_detailsTrigger {
    display: inline-flex;
    font-size: 1.5em;
    padding: var(--space-light-md);
  }

  &_detailsPanel {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: var(--space-light-md) var(--space-light-hg);
    padding: var(--space-light-md);

    & > * {
      white-space: nowrap;
    }

    & > *:nth-child(even) {
      text-align: right;
    }
  }
}
