.inputTagged {
  position: relative;

  &_tag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1px;
    bottom: 1px;
    left: 1px;
    width: var(--space-heavy-xxs);
    color: var(--color-neutral-base);
  }

  &_input {
    padding-left: var(--space-heavy-xxs);
  }
}
