.shoppingListsView {
  &_lists {
    display: flex;
    flex-direction: column;
    gap: var(--space-light-xl);
  }

  &_addContainer {
    display: flex;
    margin-top: var(--space-light-xl);
  }
}

@media #{$media-lg-above} {
  .shoppingListsView {
    &_lists {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
