.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  &_graphic {
    width: var(--space-heavy-sm);
    aspect-ratio: 1;
    background:
      no-repeat linear-gradient(var(--color-neutral-weak-20) 0 0) 0% 50%,
      no-repeat linear-gradient(var(--color-neutral-weak-20) 0 0) 50% 50%,
      no-repeat linear-gradient(var(--color-neutral-weak-20) 0 0) 100% 50%;
    background-size: 20% 100%;
    animation: pulse 1s infinite linear;

    @keyframes pulse {
      0% {
        background-size:
          20% 100%,
          20% 100%,
          20% 100%;
      }
      33% {
        background-size:
          20% 10%,
          20% 100%,
          20% 100%;
      }
      50% {
        background-size:
          20% 100%,
          20% 10%,
          20% 100%;
      }
      66% {
        background-size:
          20% 100%,
          20% 100%,
          20% 10%;
      }
      100% {
        background-size:
          20% 100%,
          20% 100%,
          20% 100%;
      }
    }
  }
}
