// exports that can be used in typescript
:export {
  mediaXsAbove: #{$media-xs-above};
  mediaSmAbove: #{$media-sm-above};
  mediaMdAbove: #{$media-md-above};
  mediaLgAbove: #{$media-lg-above};
  mediaXlAbove: #{$media-xl-above};
  mediaXxlAbove: #{$media-xxl-above};
}
