@mixin absolute-fit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin fixed-fit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin full-page-height {
  min-height: 100dvh;
  // iOS fix
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}
