.inputText {
  width: 100%;
  padding: var(--space-light-xs);
  border-radius: 4px;
  border: 1px solid var(--color-neutral-weak-20);

  &:focus {
    border-color: var(--color-neutral-base);
    outline: none;
  }

  &.invalid {
    border-color: var(--color-error-base);
  }
}
