* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#root:not(:empty) + .contentPlaceholder_gw2ni {
  display: none;
}

.contentPlaceholder_gw2ni {
  @include mixins.full-page-height;
  position: relative;
  display: flex;
  min-width: sizes.$min-width;
  max-width: sizes.$max-width;
  gap: sizes.$gap-small;
  padding: sizes.$gap-small;
  margin: auto;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(-45deg, transparent 40%, rgba(colors.$bck-page, 0.4) 50%, transparent 60%);
    background-size: 300%;
    animation: shine_gw2ni 1s infinite;

    @keyframes shine_gw2ni {
      0% {
        background-position-x: 100%;
      }

      100% {
        background-position-x: 0%;
      }
    }
  }
}

.contentPlaceholder_navbar_gw2ni,
.contentPlaceholder_main_gw2ni {
  display: flex;
  flex-direction: column;
  gap: sizes.$gap-small;
}

.contentPlaceholder_navbar_gw2ni {
  display: none;
}

.contentPlaceholder_main_gw2ni {
  flex-grow: 1;
}

.contentPlaceholder_headerBox_gw2ni {
  height: sizes.$header-height;
  background-color: colors.$bck-light;
}

.contentPlaceholder_contentBox_gw2ni {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: colors.$bck-light;
}

.contentPlaceholder_logo_gw2ni {
  width: sizes.$header-height;
  opacity: 0.5;
}

@media #{sizes.$above-medium-screen} {
  .contentPlaceholder_navbar_gw2ni {
    width: min(30%, sizes.$navbar-max-width);
    display: flex;
  }
}
